{
    "presets": [
      ["@babel/env", "@babel/preset-typescript"],
    ],
    "plugins": [
      "syntax-dynamic-import",
      "@babel/plugin-transform-regenerator",
      "@babel/plugin-transform-runtime",
      "@babel/plugin-proposal-class-properties"
    ]
  }